    margin-right: 73px;
}
.btn-u.btn-u-yellow {
    background: #5fb611;
    padding: 7px;
    width: 128px;
}

button.btn-u.btn-u-yellow:hover {
    background: #5fb611;
}
.btn-u.btn-u-dark {
    background: #72c02c;
}
button.btn-u.btn-u-dark:hover {
    background: #72c02c;
}
.btn-u.btn-u-green {
    background: #5fb611;
    margin: 246px 154px;
    width: 125px;
    height: 37px;
    font-family: sans-serif;
}
button.btn-u.btn-u-green a {
    text-decoration: none;
    color: #fff;
}

button.btn-u.btn-u-green:hover {
    background: #5fb611;
    /* font-family: verdana; */
}
/* how To work section*/
section#Hows {
    background: #f0f0f091;
    padding: 30px 0px;
}
section#Hows i {
    font-size: 25px;
    margin-left: 95px;
    background: #fff;
    padding: 10px;
    border: 1px solid;
    border-radius: 100%;
}
section#Hows h4 {
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}
section#Hows p {
    text-align: center;
}
section#Howss h1 {
    text-align: center;
    font-weight: bolder;
}
.bg-grey {
    background: #fff;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}






/* slider Section*/
section#home-slider {
    background: #f7f7f7;
    height: 475px;
}

/* About*/
.responsive-image img {
    width: 100%;
}
section#About-quik {
    padding: 30px 0px;
}
.breadcrumbs h1 {
    color: #666;
    font-size: 30px;
    margin-top: 8px;
}
section#How {
    background: #f7f7f7;
    height: 400px;
    padding: 30px 0px;
}

/* cooming soon*/
ul.phones {
    list-style-type: none;
}
ul.phones img {
    width: 100px;
}
ul.phones li {
    float: left;
}
li.onr img {
    width: 153px;
}

/* back*/
ul.list-unstyled.owl-ts-v1.owl-carousel.owl-theme {
    background: #fff;
}






/* sign 1*/


.col-md-6.col-sm-6.hidden-xs.image-block.equal-height-column img {
    width: 100%;
    height: 634px;
}
.col-md-6.col-sm-6.hidden-xs.image-block.equal-height-column {
    background: #fff;
}
button.btn-u.btn-block.rounded a {
    color: #fff;
    text-decoration: none;
}
span.maore {
    margin-left: 21px;
}

/* driver verification*/
.sky-form header {
    color: inherit;
    display: block;
    font-size: 20px;
    background: transparent;
    font-weight: 400;
    padding: 8px 30px;
}
div#sky-form {
    width: 70%;
    margin-left: 15%;
}
}
footer.bt {
    margin-left: 78%;
}

.sky-form .col-3 {
    width: 25%;
   
}
span.ag {
    margin-left: 16px;
}


.inline-group ul {
    list-style-type: none;
}
.inline-group li {
    float: left;
}
li.ra {
    margin-left: 48px;
}
fieldset.one {
    margin-left: 120px;
}
label.checkbo {
    margin-left: 13px;
}
/*login*/
section#login-form img {
    width: 100%;
    height: 500px;
}
/* otp Verification*/

section#otp{
    background-image: url(../img/back0.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.field:last-child {
    margin: 0 auto;
}

.field {
    margin: 0 auto 40px;
    width: 280px;
    position: relative;
}
.otpblkwrap .placeholder, .otpblkwrap .fldtxt {
    text-align: center;
}
.placeholder {
    bottom: 8px;
    color: #504f4f85;
    font-size: 12px;
    left: 0;
    line-height: 13px;
    position: absolute;
}

input#otp {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 100%;
    padding: 0px 0px 7px 0px;
    border-bottom: 1px solid #0000002e;
    position: relative;
    background: transparent;
    font-size: 16px;
}
p.num {
    margin-top: 12px;
    text-align: center;
    font-size: 10px;
}
.reg-block h2, .reg-block p, .reg-block p a {
    color: #7777778c;
}
span.re {
    color: #ed3561;
    font-size: 12px;
    border-bottom: 1px solid #ed3561;
}
button.btn-u.btn-blocksss {
    margin-left: 83px;
    width: 42%;
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
}
.reg-block-header h2 {
    font-size: 24px;
    font-weight: bold;
}
.reg-block-header p {
    text-align: center;
    font-size: 11px;
    color: #a0a0a0d6;
}

/* booking page*/

.form-block .input-group input.form-control {
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;
    border-color: rgba(214,214,214,.5);
    border-left: none;
    color: #969595;
    height: 39px;
}
section#booking-form .login-block .btn {
    padding: 7px 12px;
    font-size: 9px;
}
section#booking-form .form-block h2 {
    font-size: 12px;
    border-bottom: 2px solid#72c02c;
}
.headline li.dropdown {
    list-style-type: none;
}
section#booking-form .margin-bottom-30 {
    margin-bottom: 30px;
    font-family: sans-serif;
    font-size: 20px;
    border-bottom: 2px solid #4bc72d;
}
section#booking-form iframe {
    width: 67%;
}
span.black .btn-u.btn-u-dark {
    background: #000;
    padding: 8px;
    font-size: 12px;
}
 section.margin .checkbox, .radio {
    position: relative;
    display: inline;
    
    margin-bottom: 10px;
    margin-left: 48px;
}
section.change {
    margin-right: 30px;
}
 section.change .panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}
 section.change .panel-default {
    border-color: transparent;
}
.sky-form a {
    background: #76bb6a;
    padding: 5px;
    color: #fff;
    text-decoration: none;
}
/* search results */

div#profile {
    border: 17px solid #f0f0f0;
}
h2.heading-md {
    font-size: 20px;
    line-height: 24px;
    margin-left: 31px;
    margin-top: 19px;
}
 section#posts a.pull-right {
    margin-right: 50px;
}
hr {
    margin-top: 20px;
    margin-bottom: 4px;
    border: 0;
    border-top: 1px solid #eee;
}
strong {
    font-size: 12px;
}
/* driver pool avilability*/
section#driverpool h2.heading-sm {
    font-size: 12px;
    border: 0;
}
span.extra {
    margin-left: 27%;
}
span.small button.btn-u.btn-u-dark {
    margin-left: 12px;
}


/* driver pool*/

.content {
    padding-top: 40px;
    padding-bottom: 40px;
}

section#driverdetail img.img-circular {
    width: 122px;
    height: 110px;
    margin-top: 27px;
    margin-left: -50%;
    overflow: hidden;
    border-radius: 50%;
    margin-right: -50%;
}
ul.driverss {
    list-style-type: none;
}
ul.driverss li.left {
    float: left;
    margin-left: 40px;
}
section#driverdetail .col-md-9.col-lg-9.col-sm-12.col-xs-12 {
    background: #b6bbb140;
    
}
.tag-box-v2 {
    background: #fafafa;
    border: solid 1px #eee;
    /* border-left: solid 2px #72c02c; */
    margin-top: 15px;
    border-radius:10px;
}
.view button.btn-d {
    margin-top: 40px;
    background: #31ce3d;
    color: #fff;
    width: 90px;
    height: 37px;
    border-radius: 7px;
    border:0;
}
span.cancel button.btn-d {
    margin-top: 22px;
    
    background: #31ce3d;
    color: #fff;
    width: 90px;
    height: 37px;
    border-radius: 7px;
}
.map iframe {
    width: 100%;
    height: auto;
}
span.top button.btn-d{
    margin-top: 40px;
    background: #31ce3d;
    color: #fff;
    width: 90px;
    height: 37px;
    border-radius: 7px;
    border:0;
}
span.time {
    margin-left: 29px;
}


/*driver details*/
section#formss .row.sky-space-30 {
    padding-bottom: 20px;
}
section#formss button.btn-u {
    margin-top: 12px;
}
section#driverdetails .col-md-9.col-lg-9.col-sm-12.col-xs-12 {
    background: transparent;
}
section#driverdetails img.img-circular {
    width: 166px;
    height: 163px;
    margin-top: 27px;
    /* margin-left: -50%; */
    overflow: hidden;
    border-radius: 50%;
    /* margin-right: -50%; */

}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    margin-top: 22px;
    
    border-radius: 10px;
}
section#driverdetails {
    padding: 50px 0px;
}
section#driverdetails {
    padding: 50px 0px;
    background: #dae0df;
}
section#driverdetails .row {
    background: #fff;
    border-radius: 10px;
}
.driver-detailess .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top:0px;
}

/* driver Dashboard*/

section#dashboard img.img-responsive {
    width: 122px;
    height: 110px;
    border-radius: 50%;
}
span.Edit {
    margin-left: 13px;
}
span.Edit a {
    margin-left: 13px;
    text-decoration: none;
}
section#dashboard {
    margin-left: 179px;
}
section#dashboard .profile .profile-body {
    padding: 20px;
    background: transparent;
}
div#profile {
    border: 0;
}
ul.texxt {
    list-style-type: none;
}
.profile .profile-edit {
    padding: 0;
    background: #fff;
}
section#dashboard .sky-form .input input, .sky-form .select select, .sky-form .textarea textarea, .sky-form .radio i, .sky-form .checkbox i, .sky-form .toggle i, .sky-form .icon-append, .sky-form .icon-prepend {
    border-color: #f0f0f0;
}

span.ss a {
    margin-left: 777px;
    color: #240de6;
    text-decoration: none;
    font-size: 15px;
}
div#MyInformation h3 {
    font-size: 12px;
    font-weight: bold;
}
table.table {
    border: 1px solid #f0f0f0;
    margin-top: 50px
}
ul.risus {
    list-style-type: none;
    margin-left: 312px;
}

ul.risus li {
    float: left;
    margin-left: 50px;
}
h5.en {
    margin-top: 38px;
    font-weight: bold;
}
ul.nav.navbar-nav {
    margin-right: 73px;
}
section#contact form#sky-form3 {
    box-shadow: none;
}


/* media*/
@media (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
  
section#Hows i {
    font-size: 25px;
    margin-left: 137px;
    background: #fff;
    padding: 10px;
    border: 1px solid;
    border-radius: 100%;
}
  
}